@model UniversityManagementSystemWebApp2._0.ViewModels.CourseFormViewModel
@{
    ViewBag.Title = "Save Course";
}

<h2>Save Course</h2>

@using (Html.BeginForm("Save", "Courses"))
{
    @Html.ValidationSummary()
    if (Model.ErrorMessage != null)
    {
        <div class="validation-summary-errors">
            <ul>
                <li>@Model.ErrorMessage</li>
            </ul>
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(m => m.Code)
        @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Code)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Credit)
        @Html.TextBoxFor(m => m.Credit, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Credit)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DepartmentId)
        @Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.Departments, "Id", "Code"), "Select a Department", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DepartmentId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SemesterId)
        @Html.DropDownListFor(m => m.SemesterId, new SelectList(Model.Semesters, "Id", "Name"), "Select a Semester", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SemesterId)
    </div>

    <button class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
